#Don't include data folder
/data/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Neo4j data, configuration, logs, and plugins directories
/db/neo4j/data/
/db/neo4j/conf/
/db/neo4j/logs/
/db/neo4j/plugins/

# Ignore .env files
.env/

